<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename = 'animation.js') }}"></script>

    <title>Plant-imation</title>
  </head>
  <body>
    <div class="sky">
        <div id="sun" class="circle">
        </div>
        <div class="x1">
            <div class="cloud"></div>
        </div>
        <div class="x2">
            <div class="cloud"></div>
        </div>
        <div class="x3">
            <div class="cloud"></div>
        </div>
        <div class="x4">
            <div class="cloud"></div>
        </div>
        <div class="x5">
            <div class="cloud"></div>
        </div>
        <div id="ground" class="ground">
        </div>
        <div id="pond" class="water">
            <div class="froggy">
                <img class="move" id="egg" src="/static/eggs.png">
            </div>
            <!-- <div class="froggy"><img id="tadpole" src="/static/tadpole.png"></div>
            <div class="froggy"><img id="middleFrog" src="/static/middle.png"></div>
            <div class="froggy"><img id="eggs" src="/static/eggs.png"></div> -->
        </div>
        <!-- <div class="container">   
            {% block content %}
            {% endblock %}
        </div> -->
    </div>

  </body>
</html>